<h1>New Application</h1>

<%= form_tag(applications_url, method: 'post') do %>
  <div>
    <%= label_tag :school_id %><br />
    <%= number_field_tag :school_id %>
  </div>

  <div>
    <%= label_tag :applicant_id %><br />
    <%= number_field_tag :applicant_id %>
  </div>

  <div>
    <%= label_tag :outcome %><br />
    <%= check_box_tag :outcome %>
  </div>

  <div>
    <%= label_tag :submission_year %><br />
    <%= number_field_tag :submission_year %>
  </div>

  <div>
    <%= submit_tag "Create Application" %>
  </div>
<% end %>
