<h1>Application #<%= @application.id %></h1>

<dl>
  <dt>School</dt>
  <dd><%= @application.school_id %></dd>

  <dt>Applicant</dt>
  <dd><%= @application.applicant_id %></dd>

  <dt>Outcome</dt>
  <dd><%= @application.outcome? %></dd>

  <dt>Submission year</dt>
  <dd><%= @application.submission_year %></dd>

</dl>
