<div class="page-header">

  <h3>My Stats</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>GMAT</dt>
      <dd> <%= @user.gmat %></dd>

      <dt>Undergrad GPA</dt>
      <dd> <%= @user.gpa %></dd>

      <dt>Rank of College (US News or equivalent)</dt>
      <dd> <%= @user.collegerank %></dd>

      <dt>Undergraduate Major</dt>
      <dd> <%= @user.major %></dd>

      <dt>Pre-MBA Industry</dt>
      <dd> <%= @user.industry %></dd>

      <dt>Time in Service</dt>
      <dd><%= @user.timeinservice %> years</dd>

      <dt>Use of professional help</dt>
      <dd> <%= @user.prohelp %></dd>

    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>

    </div>
  </div>
</div>
