<h1>Editing School #<%= @school.id %></h1>

<%= form_tag(school_url(@school), method: 'patch') do %>
  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, @school.name %>
  </div>

  <div>
    <%= submit_tag "Update School" %>
  </div>
<% end %>
